@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:200);
body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

.table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.p {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    font-family: 'Montserrat', sans-serif;
}

.label-produits {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

label {
    font-size: 14px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.icon:hover {
    fill-opacity: 0;
}

.logo {
    width: 80%;
}

#icon_search {
    height: 45px;
    width: 45px;
    padding: 10px;
}

#icon_account {
    height: 45px;
    width: 45px;
    padding: 10px;
}

#icon_cart {
    height: 45px;
    width: 45px;
    padding: 10px;
}

#icon_langue {
    height: 45px;
    width: 45px;
    padding: 10px;
}

#icon_box {
    height: 2em;
    width: 2em;
}

.menu {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.image {
    width: 80%;
    margin: auto auto;
}

.producer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.nav p {
    margin-top: 1rem;
}


/* NAV BAH ANIM */

nav>a,
nav>a:after,
nav>a:before {
    transition: all .5s;
}

nav>a:hover {
    color: #555;
}


/* stroke */

a {
    text-decoration: none;
}

nav>a {
    position: relative;
}

nav>a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
}

nav>a {
    transition: all 1s;
}

nav>a.selected {
    transition: all 0s;
}

nav>a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav>a:hover {
    color: #fff;
    z-index: 1;
}

nav>a:not(.selected):hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

.selected {
    font-weight: bold;
}


/* Keyframes */

@-webkit-keyframes fill {
    0% {
        width: 100%;
        height: 5px;
    }
    50% {
        width: 100%;
        height: 7px;
    }
    100% {
        width: 100%;
        height: 7px;
        background: #a62b35;
    }
}


/*Nav bar*/

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-size: 1.35em;
    /* text-shadow: 0 0 1px rgba(255, 255, 255, 0.3); */
}


/* Histoire */

.test {
    background-color: #a62b35;
    color: white;
}

.btn-history {
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: white;
    color: #a62b35;
    border: none;
}

p.box {
    margin: 50px;
}

.counter {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}


/* Footer */

#img-logo {
    margin-left: 25px;
}

.text-muted {
    color: black !important;
}

.card {
    border: none;
}

.card-group {
    /* padding-top: 50px; */
}

#card-body {
    padding: 0.5em;
}

.btn-danger {
    background-color: #953640 !important;
    border-color: #953640 !important;
    color: aliceblue !important;
}

.page-footer {
    background-color: #2B2B2B;
    color: #CCBE9F;
    font-family: 'Roboto', sans-serif;
}

a.afooter {
    color: #CCBE9F !important;
}

.cls-1 {
    fill: #CCBE9F;
}

.image-footer {
    width: 85%;
    padding: 1em;
}

.footer-size {
    font-size: 10px;
}

.footer-col {
    margin-left: 5px;
}

.adresse-size {
    font-size: 12px;
    line-height: 13px;
}


/* History page */

.paddingTB60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.col-md-6 {
    padding-top: 60px;
    padding-bottom: 60px;
}

P.blocktext {
    vertical-align: middle;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/* Product page */

.roadMap {
    white-space: nowrap;
}

a.produit-liens {
    color: #CCBE9F;
}

.arrow {
    width: 1.7%;
}

.bottleImg {
    width: 90%;
    height: auto;
    margin: auto;
}

.price-font {
    font-family: 'Montserrat', sans-serif;
}

.price-ht-font {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.article-font {
    font-size: 12px;
    color: #6c757d;
    font-family: 'Montserrat', sans-serif;
}


/* #btn-quantity {
    padding-right: 325px;
} */

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white;
    background-color: #CCBE9F;
}

.nav-item:hover {
    background-color: #CCBE9F;
    border-radius: 0.25rem;
}

.pills {
    color: #2B2B2B;
    font-size: 16px;
}

#a-producteur:link {
    color: #CCBE9F;
}

#a-producteur {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #CCBE9F
}

.btn-basket {
    padding: 1em 5em 1em 5em;
    font-family: 'Montserrat', sans-serif;
    border: 5px solid #2B2B2B;
    background-color: #2B2B2B;
    color: white;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-basket:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #a62b35;
    border: 5px solid #a62b35;
    color: white;
}

#mapid {
    height: 400px;
}


/* CONTACT */

#googleMap {
    width: 555px;
    height: 505px;
}

.img-contact {
    max-width: 100%;
    max-height: auto;
}

.contact-form {
    background: #953640;
    height: 505px;
}

.contact-form .form-control {
    border-radius: 25;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 25;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: white;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 25px;
    padding: 1.5%;
    background: #2B2B2B;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    padding: 1.5%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.icon_display img {
    width: 50px;
}

#tri-produit {
    margin-top: 50px;
}

.number_results {
    padding-top: 15px;
}

#weekproduct #carteproduit {
    width: 10rem;
}

.card-img-top {
    width: 10rem;
}

.card-title {
    width: 15rem;
    height: 60px;
    position: relative;
    margin-top: 1em;
}

#title-position {
    position: absolute;
    bottom: 0;
}

.btn-filter {
    border-color: grey;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 25px;
}

.price-ht-font {
    font-size: 10px;
}

.article-font {
    font-size: 12px;
}

#cart-produit-img {
    width: 68px;
    height: 150px;
}

.btn-panier-2 {
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

.action-btn {
    margin-bottom: 25px;
}

.card-custom {
    display: inline-flex;
    padding: 1.5rem 0.8rem 1.5rem 0.8rem;
    margin-top: 15px;
}

#img-logo-header {
    width: 50%;
}

#p-white {
    color: white
}

.etapeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.p-compte-paiement {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

 ::placeholder {
    font-size: 10px;
}

.btn-outline-form {
    color: #953640;
    border-color: #953640;
}

.btn-outline-form:hover,
.btn-outline-form:focus,
.btn-outline-form:active,
.btn-outline-form.active,
.open>.dropdown-toggle.btn-outline-form {
    color: #fff;
    background-color: #953640;
    border-color: #953640;
    /*set the color you want here*/
}

.small-text {
    font-size: 10px;
}

.cartes-img {
    padding: 2.5em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#produ-carte {
    height: 20px;
    font-size: 12px;
}

#millesime-carte {
    font-size: 12px;
}

#prix-carte {
    font-weight: bold;
}

#icon-truck {
    max-width: 30%;
    height: auto;
}

.text-validation {
    font-size: 30px;
}

.text-validation-bis {
    font-size: 20px;
    color: #6c757d;
}


/* LOGIN & REGISTER FORM */

#login-form {
    background: url(http://localhost:8888/images/illustrations/login-pic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#register-form {
    background: url(http://localhost:8888/public/images/login-pic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#login-form #register-form {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #a62b35;
    display: inline-block;
}

.container-login100 {
    width: 100%;
    min-height: 60vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #a62b35;
}

#box,
#box_register {
    background: #a62b35;
    text-align: center;
    border-radius: 25px;
    opacity: 60%;
}

#box label,
#box_register label {
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 25px;
    display: inline;
}

#box input,
#box_register input {
    border: 0;
    background: #a62b35;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 10px;
    width: 350px;
    outline: none;
    color: black;
    border-radius: 15px;
    transition: 0.25s;
    margin-bottom: 25;
    height: 50px;
}

#box_register label {
    display: block;
}

#box_register input {
    display: block;
}

#box input:focus,
#box_register input:focus {
    width: 350px;
    border-color: black;
    background: white;
    color: black;
}

#box input::placeholder,
#box_register input::placeholder {
    color: black;
}

#submit {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid black;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

#submit:hover {
    background: black;
}

#remember {
    font-size: 75%;
}

#box>a,
#box_register>a {
    padding-top: 25px;
    display: block;
    color: white;
}

#login-title,
#register-title {
    color: white;
}

#register-link,
#home-link,
#forgot-pass #login-link {
    padding-top: 25px;
    color: white;
}

#register #box {
    width: 400px;
    height: 1050px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #a62b35;
    text-align: center;
    border-radius: 25px;
    opacity: 60%;
}

#register {
    background: url(http://localhost:8888/public/images/login-pic.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Style for dot color depending on wine type*/

.type-circle-1 {
    fill: #a62b35;
}

.type-circle-2 {
    fill: #f2ebda;
}

.type-circle-3 {
    fill: white;
}

.vin-titre {
    font-size: 14px;
    margin: auto;
}

.produit-titre {
    font-size: 15px;
    margin: auto;
    font-size: bold;
}

.svg-center {
    margin: 5px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #a62b35;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: 20px;
    margin-top: -30px
}


/* LOADING */

#loading-pic {
    width: 300px;
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader>img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}


/* MOBILE */